---
interface Props {
	title: string;
	image: string;
	link: string
}

const { title, image, link } = Astro.props;

import { Image } from "astro:assets"
import Icon from './Icon.astro'

const cardImage = (await import(`../images/portfolio/${image}.png`)).default;
---

<div class="col">
  <div class="card">
    <a href={link} target="_blank">
      <Image src={cardImage} alt={title} class="img-fluid" />
    </a>
    <div class="card-body">
      { link !== '' && image !== '' &&
        <a href={link} target="_blank" class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
          <h5 class="card-title">{title} <Icon icon="box-arrow-up-right" classText="text-dark" styleText="font-size: 1rem" /></h5>
        </a>
      }
    </div>
  </div>
</div>