---
interface Props {
  title: string;
  slug: string;
  content: string;
  thumbnail: {
    responsiveImage:{
      src?: string;
      srcSet?: string;
      sizes?: string;
      width?: number;
      height?: number;
    }
  };
}

import { Image } from "astro:assets"

const { title, thumbnail, slug, content } = Astro.props;
---
<div class="col">
  <div class="card">
    <a href={`/blog/${slug}`}>
      <Image
        src={thumbnail.responsiveImage.src}
        srcset={thumbnail.responsiveImage.srcSet}
        sizes="(max-width: 768px) 100vw, 50vw"
        width={thumbnail.responsiveImage.width}
        height={thumbnail.responsiveImage.height}
        alt={title}
        class="card-img-top"
      />
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href={`/blog/${slug}`} class="text-dark">{title}</a></h5>
      <span class="card-text">{content}</span>
      <a href={`/blog/${slug}`} class="text-muted">Leer más..</a>
    </div>
  </div>
</div>

<style>
  h5.card-title a {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }

  h5.card-title a:hover {
    text-decoration: underline;
  }

  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
</style>